:root {
    --color-primary: #ACD9B2;
    --color-secundary: #FFFFFF;
    --color-tertiary: #000000;
    --color-text-primary: #232830;
    --color-text-secundary: #C7C7C7;
    --color-input-bg: #F7F7F7;

    /* Tamaños de texto base */
    font-size: 62.5%;
    --font-sm: 1rem;
    /* 10px */
    --font-md: 1.5rem;
    /* 15px */
    --font-lg: 2rem;
    /* 20px */

    /* Tipografías */
    --font-quicksand: 'Quicksand', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-quicksand);
    margin: 0;
    padding: 0;
    background-color: var(--color-secundary);
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    box-shadow: 0px 0px 6px 0px var(--color-text-secundary);
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.logo {
    width: 150px;
    margin-bottom: 4.8rem;
    justify-self: center;
    display: none;

    @media (width <=680px) {
        display: block;
    }
}
nav{
 font-size: var(--font-md);
    font-weight: 500;
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: var(--color-text-secundary);
}
.sign_in {     
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
}

.title {
    font-size: var(--font-md);
    margin-bottom: 1rem;
    font-weight: 500;
    text-align: center;
    color: var(--color-text-primary);
}

.subtitle {
    color: var(--color-text-secundary);
    font-size: var(--font-md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 4rem;
    text-align: center;
}

.label {
    font-size: var(--font-md);
    margin-bottom: .5rem;
}

.input {
    background-color: var(--color-input-bg);
    border: none;
    border-radius: 8px;
    height: 2rem;
    font-size: var(--font-sm);
    padding: .6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.primary-button {
    background-color: var(--color-primary);
    border-radius: 8px;
    border: none;
    color: var(--color-secundary);
    width: 100%;
    cursor: pointer;
    font-size: var(--font-md);
    height: 50px;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.form {
    display: flex;
    flex-direction: column;
}
figure{
    display: grid;
    place-items: center;
   
}

.new_password {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.label_two{
color: var(--color-primary);
 font-size: var(--font-md);
    margin-bottom: .5rem;
    display: grid;
    place-items: center;
}


 .product-detail {
            display: none;
            width: 360px;
            height: calc(100vh - 42px);
            top: 42px;
            position: fixed;
            right: 0;
            background: var(--color-secundary);
            box-shadow: 0 0 10px #0000001a;
        }

        
         #product-detail:target {
            display: block;
        }
   #product-detail-shelf:target {
            display: block;
        }

         #product-detail-shopping:target {
            display: block;
        }
          .product-detail-close {
            background: var(--color-secundary);
            width: 14px;
            height: 14px;
            position: absolute;
            top: 2.4rem;
            left: 2.4rem;
            padding: 1.2rem;
            border-radius: 50%;
        }

        .product-detail-close:hover {
            cursor: pointer;
        }

        .product-detail figure {
            margin: 0;
            padding: 0;

            & img:nth-child(1) {
                width: 100%;
                height: 360px;
                object-fit: cover;
                border-radius: 0 0 20px 20px;
            }

        }

        .product-detail-info {
            margin: 2.4rem 2.4rem 0 2.4rem;
            font-size: var(--font-md);
        }

           .cards-container {
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(auto-fill, 240px);
            gap: 26px;
            place-content: center;
        }

         .product-card {
            max-width: 240px;
        }

         .product-card figure {
            margin: 0;
            padding: 0;

            & img {
                width: 100%;
                height: 240px;
                object-fit: cover;
                border-radius: 20px;
            }
        }

           .product-info figure img {
            width: 35px;
            height: 35px;
        }

        .product-info div p:nth-child(1) {
            font-weight: bold;
            font-size: var(--font-md);
            margin-top: 0;
            margin-bottom: .4rem;
        }

        .product-info div p:nth-child(2) {
            font-size: var(--font-md);
            margin-top: 0;
            margin-bottom: 0;
            color: var(--color-text-secundary);
        }

        .grid_product{
            display: grid;
             grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
        }

        h2{
            display: flex;
            justify-content: center;
        }
 .dropdown {
            position: absolute;
            top: 100%;
            right: 0;
            background: white;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            display: none;
            min-width: 150px;
            z-index: 10;
        }

        .dropdown a {
            display: block;
            padding: 12px;
            text-decoration: none;
            color: #333;
        }

        .dropdown a:hover {
            background-color: #f0f0f0;
        }

        .user-menu:hover .dropdown {
            display: block;
        }


ul{
    list-style-type: none;
}

